<h1>Welcome <%= @user.name %> to the AuditTools!</h1>
<p>
  You have successfully signed up to this app!
  Your email is: <%= @user.email %>.<br>
</p>
<p>Please, go to AuditTools login page and click on "Forgot Password to get your new access".</p>
<p>Thanks for joining and have a great day!</p>