<nav class="p-4 flex justify-between sticky top-0 h-20 items-center">
  <div class="flex items-center space-x-2">
    <div>
      <%= image_tag 'companhia.png', :alt => "logo", class: 'w-10 h-10'%>
    </div>
    <div class="font-bold">
      Audit Tools
    </div>
  </div>
  <div class="flex space-x-2">
    <div class="">
      Nome da Empresa
    </div>
    <div class="md:hidden">
      Dropdown
    </div>
  </div>
</nav>