<div>
  <h1 class="font-bold text-4xl">Welcome to the Audit Tools Software!</h1>
  <h2>Add audits of the day and the next ones</h2>
</div>

  <ul class="flex flex-col justify-center items-center">
    <% 100.times do |num| %>
      <li class="text-lg"><%= num + 1 %></li> <!-- Incrementando para começar de 1 -->
    <% end %>
  </ul>

