<h1>Hi <%= @company.contact_name %>!</h1>
<p>
  We hope this emails finds you well.
  We are pleased to inform that you received a new Proposal.
  Please, find attached you new <%= @proposal.title %>.
</p>
<p>Thanks for the attention and have a great day!</p>